{% extends 'base-online.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="Public/CSS/home_online.css" />
{% endblock %}

{% block body %}

{% if matched_profils %}
    <div class="row">
        {% for matched_profil in matched_profils %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ matched_profil.profile_picture_path }}" style="height: 300px;">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ matched_profil.dog_name }}</h5>
                        <p class="card-text">{{ matched_profil.biography|length > 50 ? matched_profil.biography|slice(0, 50) ~ '...' : myentity.text  }}</p>
                        <a href="online.php?page=show_matched_profil&id={{ matched_profil.id_user }}" class="btn btn-primary ">Voir le profil</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
        <h1 class="display-4 mb-3 text-center" style="color: rgb(245, 226, 198);">Aucun profil matché</h1>
{% endif %}
        

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="Public/Javascript/get-notifications.js"></script>
{% endblock %}
